{{ $c := "c-image-gallery" }}
<div class="{{$c}} 
			component
		   	cms-editor-link" 
	 data-cms-editor-link-style="modal" 
	 data-cms-editor-link="cloudcannon:#page_sections[{{ .section_count }}].components[{{ .component_count }}]">
	{{ if .Component.heading }}
		<h1 class="component-heading">{{ .Component.heading }}</h1>
	{{ end }}

	<div class="{{$c}}__grid" 
		 style="grid-template-columns: repeat({{ .Component.column_number }},1fr);">

		{{ range $index, $images := .Component.images }}
			<div class="{{$c}}__image-wrapper">
				<div class="{{$c}}__sizer"></div>
				<img class="{{$c}}__image" 
					 src="{{ .image }}" 
					 alt="{{ .description_text }}"
					 data-index="{{$index}}" />
			</div>
		{{ end }}
	</div>

	<div class="{{$c}}__lightbox">
		<div class="{{$c}}__slides">
			{{ range $index, $images := .Component.images }}
				<img class="{{$c}}__slide" 
						 src="{{ .image }}" 
						 alt="{{ .description_text }}"
						 data-index="{{$index}}" />
			{{ end }}
		</div>
		<span class="{{$c}}__control {{$c}}__control--close"></span>
		<div class="{{$c}}__controls">
			<span class="{{$c}}__control {{$c}}__control--previous"
				  data-increment="-1"></span>
			<span class="{{$c}}__control {{$c}}__control--next"
				  data-increment="1"></span>
		</div>
	</div>
</div>