.c-form {
	&__main {

	}

	&__input-wrapper {
		input {

		}

		textarea {

		}
	}

	&__label {

	}

	&__group-label {

	}

	&__radio-group-wrapper {
		label {

		}

		input {

		}

		span {

		}
	}

	&__checkbox-group-wrapper {
		label {

		}

		input {

		}

		span {

		}
	}

	&__selectbox-wrapper {
		select {

		}

		option {
			
		}
	}
}