.c-image-gallery {
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-gap: $gap-medium;

		@include tablet {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important; // overrides the user set grid amount on mobile resize
		}
	}	

	&__image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
	}

	&__sizer {
		padding-bottom: $aspect;
		width: 100%;
		height: 0;
	}

	&__image {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto; 
		object-fit: contain;
		width: 100%;
		cursor: pointer;
		transition: filter $trans-short, transform $trans-short;

		&:hover {
			filter: brightness(120%);
			transform: translateY(-50%) scale(120%)
		}
	}

	&__lightbox {
		position: fixed;
		z-index: -5;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 8%;
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.8);
		opacity: 0;
		pointer-events: none;
		transition: opacity $trans-short;

		&--open {
			z-index: 5;
			opacity: 1;
			pointer-events: all;
		}
	}

	&__slides {
		position: relative;
		padding-bottom: $aspect;
		width: 100%;
		height: 0;
	}

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 20%;
		height: 100%;
		object-fit: contain;
		opacity: 0;
		pointer-events: none;
		transition: max-width $trans-short, opacity $trans-short;

		&--visible {
			max-width: 100%;
			opacity: 1;
			pointer-events: all;
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	&__control {
		margin: 25px;
		width: 48px;
		height: 48px;
		border: 1px solid blue;
		cursor: pointer;

		&--previous {

		}

		&--next {

		}

		&--close {
			position: absolute;
			top: 0;
			right: 0;
			background-color: rgba(0,0,0,0.2);
		}
	}
}