@mixin desktop {
  @media (max-width: $max-breakpoint) { @content; }
}

@mixin tablet {
  @media (max-width: $mid-breakpoint) { @content; }
}

@mixin mobile {
  @media (max-width: $min-breakpoint) { @content; }
}