@keyframes increaseHeight {
	0%   {max-height: 0px;}
	100% {max-height: 500px;}
}

@keyframes decreaseHeight {
	0%   {max-height: 500px;}
	100% {max-height: 0px;}
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: Helvetica;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: $primary_1;
	color: $primary_3;
	@include scale-custom(font-size, $fs-content-m, $fs-content, $min-breakpoint, $max-breakpoint);
}

h1, h2, h3, h4, h5 {
	color: $primary_2;
	line-height: 120%;
}

h1 {
	@include scale-custom(font-size, $fs-h1-m, $fs-h1, $min-breakpoint, $max-breakpoint);
}

h2 {
	@include scale-custom(font-size, $fs-h2-m, $fs-h2, $min-breakpoint, $max-breakpoint);
}

h3 {
	@include scale-custom(font-size, $fs-h3-m, $fs-h3, $min-breakpoint, $max-breakpoint);
}

h4, h5, h6 {
	@include scale-custom(font-size, $fs-content-m, $fs-content, $min-breakpoint, $max-breakpoint);
}

a {
	color: $primary_4;
	text-decoration: none;
}

blockquote {
	margin: 25px 45px 25px 45px;
	@include scale-custom(margin-left, 20px, 45px, $mid-breakpoint, $max-breakpoint);
	@include scale-custom(margin-right, 20px, 45px, $mid-breakpoint, $max-breakpoint);
	padding: 15px 15px 15px 45px;
	box-sizing: border-box;
	border-left: 4px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.04);
}

table {
	width: 100%;
	border-collapse: collapse;

	caption {
		padding: 5px 0;
		border: 1px solid rgba(0,0,0,0.5);
		background-color: rgba(0,0,0,0.2);
	}

	th {
		padding: 12px 0;
		text-align: left;
		background-color: $primary_2;
		color: #ffffff;
		text-align: center;
	}

	th, td {
		padding: 8px;
		border: 1px solid rgba(0,0,0,0.5);
	}

	td {
		background-color: rgba(0,0,0,0.2);
	}

	tr:nth-child(even) {
		background-color: rgba(0,0,0,0.2);
	}

	tr:hover {
		background-color: rgba(0,0,0,0.4);
	}
}

[data-language] {
	position: relative;
	margin: 25px 0;

	&:after {
		position: absolute;
		top: 0;
		content: 'Code: ' attr(data-language);
		padding: 2px 5px;
		width: 100%;
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.2);
		color: rgba(255,255,255,0.2);
	}
}

code {
	background-color: rgba(0,0,0,0.2);
	padding: 50px 25px 25px 25px;
	display: block;
	border: 1px solid rgba(0,0,0,0.4);
}

.body-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: $max-breakpoint;
}

.body-wrapper-inner {

}

.content-wrapper {
	// @include scale-custom(margin-left, 225px, $nav_width, $mid-breakpoint, $max-breakpoint);
	@include scale-custom(padding-left, $body_min_padding, $body_max_padding, $min-breakpoint, $max-breakpoint);
	@include scale-custom(padding-right, $body_min_padding, $body_max_padding, $min-breakpoint, $max-breakpoint);
	@include scale-custom(padding-bottom, $body_min_padding, $body_max_padding, $min-breakpoint, $max-breakpoint);
	line-height: 140%;
	
	@include tablet {
		margin-left: 0;
	}

	a {
		position: relative;
		transition: color 0.2s ease-in-out;

		&:after {
			content: '';
			position: absolute;
			bottom: -5px;
		}


		&:hover {
			color: $primary_3;
			transition: color 0.2s ease-in-out;

			&:after {
				border-bottom: 4px solid red;
			}
		}
	}
}

.section-heading {
	display: inline-block;
	border-bottom: 4px solid $primary_2;
	@include scale-custom(font-size, $fs-section-heading-m, $fs-section-heading, $min-breakpoint, $max-breakpoint);
}

.component {
	margin-bottom: 75px;

	&-fill {
		border: 1px solid $primary_6;
		background-color: $primary_7;
	}
}

.component-heading {
	@include scale-custom(font-size, $fs-component-heading-m, $fs-component-heading, $min-breakpoint, $max-breakpoint);
}

section {
	padding: 80px 35px;
}