$primary_1: #0E2934;
$primary_2: #B3384C;
$primary_3: #7B8493; // General Text
$primary_4: #53948B; // Links
$primary_5: #CFA656; // Secondary text (yellow)
$primary_6: rgba(0, 0, 0, 0.5); // Borders etc.
$primary_7: rgba(0, 0, 0, 0.2); // Component fill

// Breakpoints 
$max-breakpoint: 1440px;
$mid-breakpoint: 850px;
$min-breakpoint: 375px;

// Navigation
$nav_width: 275px;

// Body
$body_max_padding: 50px;
$body_min_padding: 25px;

// Animations
$timing-short: {{ .Site.Data.settings.theme.transitions.short_duration_number }}s;
$timing-medium: {{ .Site.Data.settings.theme.transitions.medium_duration_number }}s;
$timing-long: {{ .Site.Data.settings.theme.transitions.long_duration_number }}s;
$timing-longer: {{ .Site.Data.settings.theme.transitions.longer_duration_number }}s;

// Transitions
$trans-short: $timing-short ease-in-out;
$trans-medium: $timing-medium ease-in-out;
$trans-long: $timing-long ease-in-out;
$trans-longer: $timing-longer ease-in-out;

// Fonts
$fs-content: 18px;
$fs-content-m: 16px;
$fs-content-s: 14px;
$fs-h1: 38px;
$fs-h1-m: 30px;
$fs-h2: 30px;
$fs-h2-m: 22px;
$fs-h3: 22px;
$fs-h3-m: 18px;
$fs-section-heading: 38px;
$fs-section-heading-m: 30px;
$fs-component-heading: 30px;
$fs-component-heading-m: 22px;

$heading-margin: 25px;

// Grids
$gap-small: 10px;
$gap-medium: 18px;
$gap-large: 30px;

// Aspect Ratio
$aspect: 56.25%;

// Component Spacing
$spacing-large: 75px;
$spacing-small: 50px;