$primary_1: #0E2934;
$primary_2: #B3384C;
$primary_3: #BDD0EE;
$primary_4: #53948B;
$primary_5: #CFA656;

// Breakpoints 
$max-breakpoint: 1440px;
$mid-breakpoint: 750px;
$min-breakpoint: 375px;

// Navigation
$nav_width: 325px;

// Body
$body_max_padding: 50px;
$body_min_padding: 25px;