html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: Helvetica;
}

body {
	margin: 0;
	padding: 0;
}

section {
	padding: 80px 35px;
}

.c-header {
	padding: 125px 35px;
	background-color: #222222;
	color: #ffffff;
	text-align: center;
}

.c-footer {
	padding: 80px 35px;
	background-color: #eeeeee;
}