.c-header {
	margin-top: 15px;
	@include scale-custom(margin-left, 225px, $nav_width, $mid-breakpoint, $max-breakpoint);
	@include scale-custom(padding, $body_min_padding, $body_max_padding, $min-breakpoint, $max-breakpoint);
	@include scale-custom(padding-top, ($body_min_padding * 2), ($body_max_padding * 2), $min-breakpoint, $max-breakpoint);
	@include scale-custom(padding-bottom, ($body_min_padding * 2), ($body_max_padding * 2), $min-breakpoint, $max-breakpoint);
	// box-shadow: inset 0px -7px 35px -32px #000;
	
	@include tablet {
		margin-left: 0;
	}

	&__main-heading {
		margin: 0 0 40px 0;
		@include scale-custom(font-size, 36px, 64px, $min-breakpoint, $max-breakpoint);
	}

	&__description {
		margin: 15px 0;
		@include scale-custom(font-size, 18px, 24px, $min-breakpoint, $max-breakpoint);
		font-style: italic;
		color: $primary_5;
	}
}