.c-navigation {
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px 0;
	box-sizing: border-box;
	width: 100%;

	@include scale-custom(max-width, 225px, $nav_width, $mid-breakpoint, $max-breakpoint);
	height: 100%;

	@include tablet {
		left: -$nav_width;
		max-width: $nav_width;
	}

	&__nav-items {
		margin: 0;
		padding: 0;
		height: 100%;
		border-right: 1px solid $primary_2;
		list-style: none;

		li {
			a {
				position: relative;
				display: block;
				// border: 1px solid red;
				padding: 15px;
				@include scale-custom(padding-left, 25px, 50px, $min-breakpoint, $max-breakpoint);
				@include scale-custom(font-size, 16px, 22px, $min-breakpoint, $max-breakpoint);
				transition: color 0.2s ease-in-out;

				&:after {
					content: '';
					display: block;
					position: absolute;
					@include scale-custom(left, 12.5px, 25px, $min-breakpoint, $max-breakpoint);
					bottom: 0;
					height: 100%;
					border-left: 4px solid transparent;
					transition: border-left 0.2s ease-in-out;
				}

				&:hover {
					color: $primary_3;
					transition: color 0.2s ease-in-out;

					&:after {
						border-left: 4px solid $primary_2;
						transition: border-left 0.2s ease-in-out;
					}
				}
			}
		}
	}
}