.c-page-details {
	&__date {

	}

	&__authors {
		display: flex;
		flex-flow: row wrap;
		margin: -10px -25px;
	}

	&__author {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px 25px;

		img {
			margin-right: 15px;
			width: 48px;
			height: 48px;
			border-radius: 8px;
		}

		span {

		}
	}
}