{{ $c := "c-navigation" }}

<div class="{{$c}}">
	<ul class="{{$c}}__nav-items">
		{{ $items := .Site.Data.navigation.navigation_items }}

		{{ range $items }}
		    <li class="{{$c}}__item">
		    	{{ if .use_submenu_for_collection }}
		    		<a class="{{$c}}__link {{$c}}__link--submenu">
		    			<span class="{{$c}}__indicator">
				    		{{ partial "svg/dropdown-indicator.svg" }}
				    	</span>
				    	{{ .title }}
				    </a>
			        <div class="{{$c}}__submenu">
			        	<ul class="{{$c}}__submenu-wrapper">
			        		{{ range .submenu }}
			        			<li class="{{$c}}__item">
			        				<a class="{{$c}}__link"
							           href="{{ .page_link }}">{{ .title }}</a>
			        			</li>
			        		{{ end }}
			        	</ul>
			        </div>
		    	{{ else if index (.submenu) 0 "title" }}
		    		<a class="{{$c}}__link {{$c}}__link--submenu">
		    			<span class="{{$c}}__indicator">
				    		{{ partial "svg/dropdown-indicator.svg" }}
				    	</span>
				    	{{ .title }}
				    </a>
			        <div class="{{$c}}__submenu">
			        	<ul class="{{$c}}__submenu-wrapper">
			        		{{ range .submenu }}
			        			<li class="{{$c}}__item">
			        				<a class="{{$c}}__link"
							           href="{{ .page_link }}">{{ .title }}</a>
			        			</li>
			        		{{ end }}
			        	</ul>
			        </div>
			    {{ else }}
			        <a class="{{$c}}__link"
			           href="{{ .page_link | default "/" }}">{{ .title }}</a>
			    {{ end }}
		    </li>
	    {{ end }}
	</ul>
</div>




{{/* 
	Original Setup

	<ul class="{{$c}}__nav-items">
		{{ range .Site.RegularPages }}
			{{ $relative_url := relURL .Permalink }}
			{{ if eq $relative_url "/home/" }}
			    <li>
			        <a href="/">{{ .Title }}</a>
			    </li>
			{{ else }}
			    <li>
			        <a href="{{ absURL .Permalink }}">{{ .Title }}</a>
			    </li>
			{{ end }}
	    {{ end }}
	</ul>
*/}}

<script>
	var navigation = document.querySelector('.c-navigation')
	var links = document.getElementsByClassName("c-navigation__link--submenu");
	function checkElement() {
		var element = event.target;
		if (element.classList.contains('c-navigation__link--submenu')) {
			element.classList.toggle('c-navigation__link--submenu-open');
			element.nextElementSibling.classList.toggle('c-navigation__submenu--open');
		}
	}

	navigation.addEventListener('click', checkElement);
</script>