{{ $components := .Params.components }}
{{ if isset .Params "page_sections" }}
    {{ range $section_count, $section := .Params.page_sections }}
        <div class="page-section">
            {{ if $section.section_heading }}
                <h1 class="section-heading
                           cms-editor-link" 
                    data-cms-editor-link-style="modal" 
                    data-cms-editor-link="cloudcannon:#page_sections[{{ $section_count }}]">{{ $section.section_heading }}</h1>
            {{ end }}
            <div class="components">
                {{ if isset $section "components" }}
                    {{ range $component_count, $component := $section.components }}
                        {{ partial "components/content-block.html" (dict "Component" . "section_count" $section_count "component_count" $component_count) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
{{ end }}
