.c-big-numbered-list {
	&__list {
		margin-left: 25px;
	}

	&__list-item {
		padding: 20px 0;
		counter-increment: li;
		list-style-type: none;

		&:before {
			position: absolute;
		    content: counter(li);
			display: flex;
			justify-content: center;
			align-items: center;
		    text-align: center;
			margin-left: -55px;
			margin-top: -8px;
			width: 40px;
			height: 40px;
			background-color: $primary_7;
			border: 1px solid $primary_6;
			border-radius: 50px;
			box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.18);
			text-align: center;
		}

		p {
			margin: 0;

			img, iframe, table {
				margin: 30px 0;
			}
		}
	}
}