.c-links-with-images {
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-gap: $gap-medium;
	}

	&__grid-item {
		background-color: $primary_7;
		border: 1px solid $primary_6;
	}

	&__image-wrapper {
		position: relative;
		display: block;
		overflow: hidden;
	}

	&__main-image {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		margin: 0 auto;
		object-fit: cover;
		width: 100%;
		height: 100%;
		transition: transform $trans-short;

		&:hover {
			transform: translateY(-50%) scale(120%);
		}
	}

	&__spacer {
		padding-bottom: $aspect;
		width: 100%;
		height: 0;
	}

	&__badges {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		justify-content: flex-start;
		width: 100%;

		img {
			margin: 5px;
			margin-top: 0;
			width: 38px;
			height: 38px;
			object-fit: contain;
			filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.6));
		}
	}

	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $gap-small;
	}

	&__title {
		line-height: 100%;
	}

	.n-button {

	}
}