.c-links-with-images {
	&__grid {
		display: flex;
		flex-flow: row wrap;
		margin: -$gap-small;
	}

	&__grid-item {
		margin: $gap-small;
	}

	&__image-wrapper {
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			margin: 0 auto;
			object-fit: cover;
			width: 100%;
		}
	}

	&__spacer {
		padding-bottom: $aspect;
		width: 100%;
		height: 0;
	}

	&__badges {
		position: absolute;
		bottom: 10px;
		left: 10px;

		img {
			width: 38px;
			height: 38px;
			object-fit: contain;
		}
	}

	&__title-block {

	}

	&__title {

	}

	.n-button {

	}
}