.c-text-grid { $c: &;
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: $gap-medium;

		&--top {
			#{$c}__heading-block {
				flex-direction: column;
				justify-content: center;
			}
		}

		&--right {
			#{$c}__heading-block {
				flex-direction: row;
				justify-content: flex-end;
			}
		}

		&--bottom {
			#{$c}__heading-block {
				flex-direction: column-reverse;
				justify-content: center;
			}
		}
	}

	&__grid-item {
	}

	&__heading-block {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		img {
			width: 48px;
			height: 48px;
			object-fit: contain;
		}

		h3 {
			margin: $gap-small 0;
			padding: $gap-small;
		}
	}

	&__content {
		p:first-child {
			margin-top: 0;
		}
	}
}