.c-card-generic {
	padding: $body_min_padding/2;
	border: 1px solid $primary_2;

	&__image-wrapper {
		display: block;
		position: relative;
		padding-bottom: 56.25%;
		width: 100%;
		height: 0;
		overflow: hidden;
	}

	&__image {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 100%;
		object-fit: cover;

	}

	&__title-block {

	}

	&__title-block-main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 14px 0 4px 0;
		width: 100%;
	}

	&__title {
		margin: 0;
		padding-right: 8px;
		line-height: 100%;

		a {

		}
	}

	&__badge {
		line-height: 100%;
		padding: 4px 10px;
		display: flex;
		align-items: center;
		border-radius: 16px;
		font-size: $fs-content-s;
	}

	&__details {
		margin: 0;
		font-size: $fs-content-s;
	}

	&__content {
		margin: 10px 0;
	}
}