.c-image-gallery {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 18px;
	}	

	&__image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
	}

	&__sizer {
		padding-bottom: 56.25%;
		width: 100%;
		height: 0;
	}

	&__image {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto; 
		object-fit: contain;
		width: 100%;

	}

	&__lightbox {
		position: fixed;
		z-index: -5;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 8%;
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.8);
		opacity: 0;
		pointer-events: none;
		transition: opacity $trans-short;

		&--open {
			z-index: 5;
			opacity: 1;
			pointer-events: all;
		}
	}

	&__image-element {
		position: relative;
		padding-bottom: 56.25%;
		width: 100%;
		height: 0;
		// background-color: rgba(0,0,0,1);
		object-fit: contain;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	&__control {
		width: 48px;
		height: 48px;
		border: 1px solid blue;
		cursor: pointer;

		&--previous {

		}

		&--next {

		}

		&--close {
			position: absolute;
			top: 0;
			right: 0;
			background-color: rgba(0,0,0,0.2);
		}
	}
}