<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	{{ partial "structure/head" . }}

	<body>
		<div class="body-wrapper">

				{{ partial "structure/navigation" . }}
				<div class="body-wrapper-inner">
					{{ partial "structure/header" . }}
					<div class="content-wrapper">
						{{ block "main" . }}{{ .Content }}{{ end }}
					{{ partial "structure/page-components" . }}
					</div>
					{{ partial "structure/footer" . }}
				</div>
			{{ partial "structure/scripts" }}
		</div>

	</body>
</html>
