{{ define "main" }}
	{{ $l := "l-post-layout" }}
	<div class="{{$l}}">
		<div class="{{$l}}__details">
			<p class="{{$l}}__date">Date</p>
			<div class="{{$l}}__authors">
				{{ $collection := site.GetPage "/people/" }}
				<div class="{{$l}}__author">
					{{ $collection := site.GetPage "/people/" }}
					{{ $authors := .Params.authors.people }}
					{{ range $collection.Pages }}
						{{ $name_slug := .Params.name | urlize}}

			  			{{ if in $authors $name_slug }}
			  				<img src="{{ .Params.profile_image }}" alt="{{ .Params.name }} profile image" />
				  			<p>{{ .Params.name }}</p>
		  				{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</div>

				

	
{{ end }}

