{{ define "main" }}
	{{ $l := "l-post-layout" }}
	<div class="{{$l}}">
		<div class="{{$l}}__details">
			<p class="{{$l}}__date">Date</p>
			<div class="{{$l}}__authors">
				{{ range .Params.authors.people }}
					{{ .}}
				{{ end }}
				{{ range $index, $collections := .Site.Sections }}
					{{ if eq $collections.Title "People" }}
						{{ $collection := . }}
						<ul>
							{{ range $collection.Pages }}
					  			{{ $item := . }}
					  			{{ if $item.Params.name }}
						  			<li>{{ $item.Params.name }}</li>
				  				{{ end }}
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			</div>
		</div>
	</div>

				

	
{{ end }}

