{{ define "main" }}
  <main>
    <section class="editable">
    	<div class="container">
    		<h1>Main Content</h1>
    	</div>
    </section> 
    {{ .Params.Test_html | markdownify }}  
    {{ $components := .Params.components }}
    {{ if isset .Params "page_sections" }}
        {{ range $section := .Params.page_sections }}
            <div class="page-section">
                {{ if isset $section "section_heading" }}
                        <h1>{{ $section.section_heading }}</h1>
                {{ end }}
                <div class="components">
                    {{ if isset $section "components" }}
                        {{ range $component := $section.components }}
                            {{ partial "components/content-block.html" . }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}
    {{ end }}
  </main>
{{ end }}
